<div ng-controller="IntroController">
 <!--  <div class="row" id="introForm">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="salida" type="text" class="validate">
          <label for="salida">Lugar Llegada</label>
        </div>
        <div class="input-field col s6">
          <input id="salida" type="text" class="validate">
          <label for="salida">Lugar Llegada</label>
        </div>
        <div class="input-field col s6">
          <input type="date" class="datePicker" ng-model="datePick">
        </div>
        <div class="input-field col s6">
          <input type="date" class="datePicker" ng-model="dateReturn">
        </div>
        <div class="input-field">
          <a class="waves-effect waves-light btn-large btn-search">Search</a>
        </div>
        
    </form>
  </div> -->

    <!-- Modal Trigger -->
  <div id="btn-intro" style="">
  <a class="waves-effect waves-light btn-large modal-trigger btn-search" href="#modal1">Reservar Autobús Completo</a>
  <a class="waves-effect waves-light btn-large modal-trigger btn-search" style="margin-left:7em;"  href="#modal1">Tu BlaBlabus</a>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content row">

      <div class="input-field col s6">
          <input id="salida" type="text" class="validate">
          <label for="salida colorB">Lugar Llegada</label>
        </div>
        <div class="input-field col s6">
          <input id="salida" type="text" class="validate">
          <label for="salida">Lugar Llegada</label>
        </div>
        <div class="input-field col s6">
          <input type="date" class="datePicker" ng-model="datePick">
        </div>
        <div class="input-field col s6">
          <input type="date" class="datePicker" ng-model="dateReturn">
        </div>
        
    </div>
    
      <div class="col s12 l12">
          <a href="#/motorbook" class="modal-close waves-effect waves-light btn-large btn-search ">Search</a>
      </div>
        
      
    </div>
  </div>


 



   <video id="pianovideo" src="resources/bridge_4_timelapse.mp4"  autoplay poster loop>

  </video> 

 <!-- Modal Trigger -->
  </div>